html {
    font-family: 'Alegreya', serif;
    font-family: 'Fira Sans', sans-serif;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: grey;
    text-align: center;
}

#container {
    padding: 2px 16px;
}

#header {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background-color: #1f8abf;
}

h1 {
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-style: oblique;
    color: #000000;
}

h2, h3 {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: #000000;
}

img {
    width: 300px;
    height: 250px;
}

#landing {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: cornflowerblue;
    padding: 10px;
}

#hobbies, #experience {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#hobbies {
    background-color: rgb(24, 116, 139);
}

#experience {
    background-color: rgb(24, 80, 145);
}


table {
    gap: 50px 15px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    text-align: center;
}

th {
    padding: 10px;
    text-align-last: left;
}

td {
    border: 1px solid #000000;
    padding: 8px;
}

#card {

}

#contact, ul {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    list-style-type: none;
}

#footer {
    background-color: #1f8abf;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}